<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<%= link_to 'Home', root_path %> 
	<% if current_user %>
		<%= link_to current_user.name, me_path %>
		<% if radcircle_member %>
			<%= link_to 'Dashboard', dashboard_path %>
		<% end -%>
		<%= link_to 'sign out', logout_path %>


	<% else %>
		<%= link_to 'sign in', login_path %>
		<%= link_to 'sign up', new_user_path %>

	<% end -%>

</header>

<%= flash[:notice] %>
<%= yield %>

</body>
</html>
